.coinImage {
    width: 30px;
    height: 30px;
}

.coinModal {
    display: flex;
    border: 1px solid rgb(12, 11, 11);
    flex-direction: column;
    width: 800px;
    height: fit-content;
    background-color: #1f1d1d;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

.label {
    font-size: 1.2rem;
}

.value {
    font-size: 1.5rem;
    font-weight: 600;
}