.home {
    background-image: url('../../assets/cryptoImg.avif');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.homeTitle {
    text-align: center;
    font-size: 6rem;
    color: #fff;
    letter-spacing: 2px;
}

.swapText{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    
}