.header {
    height: 100px;
    background-color: #181616;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 22px 4px rgba(0, 0, 0, 0.1);
    span a {
        font-size: 1.2rem;
        margin: 10px;
        text-decoration: none;
    }

    select {
        width: 125px;
        padding: .5rem;
        border-radius: 8px;
        
    }
    
}