html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-y: auto;
  overflow-x: hidden;
  /* Prevents scrolling */
  box-sizing: border-box;
  /* Ensures padding and borders are included in the total size */
  font-family: 'Poppins', sans-serif;
  background-image: url('./assets/cryptoImg.avif');
  background-size: cover;
  background-position: center;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Ensures all child elements inherit box-sizing */
}

.hover-tab {
  padding: .3rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: #fff;

    a,
    span {
      color: #000;
    }

    svg {
      fill: #000;
      color: #000;

    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: #fff;
}


/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background: rgba(4, 4, 4, 0.5);
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners for a modern look */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 3, 3, 0.7);
  /* Darker thumb when hovered */
}

::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.2);
  /* Background color of the scrollbar track */
  border-radius: 4px;
  /* Rounded corners */
}

/* Add transition for smooth hover effect */
::-webkit-scrollbar-thumb {
  transition: background 0.3s ease;
}


.coin-card-primary-bg {
  background-color: #181616;
}

.coin-card-primary-text {
  color: #fff;

  table {
    color: inherit; // Ensure table text inherits the white color
  }

  th,
  td {
    border-color: #2a2a2a; // Adjust border colors for dark themes
  }

  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #2f2828; // Subtle striping for dark backgrounds
  }
}


.coin-card-primary-bg {
  background-color: #0f0d0d;

  table {
    background-color: inherit; // Ensure the table background matches the container

    th,
    td {
      background-color: inherit; // Inherit the background color from the parent
      color: inherit; // Inherit the text color from the parent
      border-color: #0a0909; // Adjust border color for better contrast
    }
  }
}

.coin-card-priamry-text {
  color: #fff;

  table th,
  table td {

    color: inherit; // Ensure text color matches the parent
  }
}

.greedfearindex-card {
  background: #000000;

  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;

  }
}




// for modal

.modalExternal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: #181616;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.main-title {
  font-size: 5rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
}

span.anytime {
  font-size: 1rem;
  color: #fff;
  font-family:  "Poppins", sans-serif;
}

.no-matches {
  color: #fff;
  font-size: 2.5rem;
  padding: 1rem;
  background: #0a0909;
  border-radius: 8px;
}

.user-input{
  width: 500px;
}